body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #0356ef;
  }
  
  a:hover {
    color: #0356ef;
    text-decoration: none;
  }
/* Header */
#header {
    height:70px;
    transition: all 0.5s;
    z-index: 99;
    background: blue;
}
#header.header-transparent {
    background:transparent;
}
#header.header-scrolled {
  background: rgba(87, 147, 214, 0.9);
}
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }

/* NavBar Menu */
/* Navbar PC */
#primary-navwrapper,  #primary-navwrapper * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#primary-navwrapper > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

#primary-navwrapper a {
  display: block;
  position: relative;
  color: #fff;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
}
#primary-navwrapper a:hover,  #primary-navwrapper a.current > a, #primary-navwrapper li:hover > a {
  background: #037def;
  text-decoration: none;
}

#listnav li a.current { 
background: #037def;
text-decoration: none;
}
.toggle-menu, .close { display: none; }
/* Navbar Mobile */


  /* Sliderbackground Section */

#sliderbackground {
    width:100%;
    overflow: hidden;
    position: relative;
    background-image: url("../img/img5.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding:0;
}
#sliderbackground .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    padding-top: 60px;
  }
  
  #sliderbackground h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #sliderbackground p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }

  #sliderbackground .carousel-control-prev, #sliderbackground .carousel-control-next {
    width: 10%;
  }
  
  #sliderbackground .carousel-control-next-icon, #sliderbackground .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
  }
  

  /* Waves */
  .waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
  }
  
  .wave1 use {
    -webkit-animation: move1 10s linear infinite;
    animation: move1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave2 use {
    -webkit-animation: move2 8s linear infinite;
    animation: move2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave3 use {
    -webkit-animation: move3 6s linear infinite;
    animation: move3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  @-webkit-keyframes move1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @-webkit-keyframes move2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @-webkit-keyframes move3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move3 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
    /* Section General */
    section {
        padding: 60px 0;
        overflow: hidden;
      }
      
      .section-title {
        padding-bottom: 40px;
      }
      
      .section-title h3 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;
      }
      
      .section-title h2::after {
        content: "";
        width: 120px;
        height: 1px;
        display: inline-block;
        background: #0c5268;
        margin: 4px 10px;
      }
      
      .section-title p {
        margin: 0;
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        color: #2a2c39;
      }
      /* A Propos de nous */
      .apropos {
        padding-top: 80px;
      }
      
      .apropos .content h2 {
        font-weight: 600;
        font-size: 26px;
      }
      
      
      .apropos .content ul li + li {
        margin-top: 10px;
      }
      
      .apropos .content ul i {
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 20px;
        color: #037def;
        line-height: 1;
      }
      
      .apropos .content p:last-child {
        margin-bottom: 0;
      }
      /* horaire*/
      
      .horaire table{
        display: inline-block; 
      }
      .section iframe{
        display: inline-block;
        top: 100%;
      }
      
      /* contact */
      .contact .conteneur{
        padding-left: 25%;
      }
      .form{
        margin-right: auto;
        margin-left: auto;
      }
      .form input {
        display: inline-block;
        height: 25%;
        padding: 1%;
        border-radius: 0%;
        margin-bottom: 3%;
      }
      .form select{
        border-radius: 0%;
      }
      .form select option{
        display:block;
        height: 25%;
        padding: 1%;
        outline: none;
        margin-bottom: 5%;
        border-radius: 0%;
      }
      .form textarea {
        display:block;
        height: 25%;
        padding: 1%;
        outline: none;
        margin-bottom: 5%;
        border-radius: 0%;
      }
      .form button{
        display: block;
        margin-left: 35%;
      }
      .lgn-3{
        width: 26.5%;
      }
      .lgn-4{
        width: 19.75%;
      }
      .lgn-1{
        width: 80%;
      }
      #footer .bg-primary{
        background: #037def;
      }